<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Estilos/genericstyles.css">
    <link rel="stylesheet" type="text/css" href="Estilos/homestyles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="#">
            <h1>ATB</h1>
        </a>
        <div>

        </div>
    </header>
    <main>
        <div class="infoContainer">
            <h2 class="saludo">Bienvenido Victor.</h2>   
            <h3>Te encuentras en la caja 3</h3>
        </div>
        <section class="boxContainer">
           
            <p class="textNoClients">
                Por el momento no hay clientes que atender.
            </pp>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>